*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: coral;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;

}

header,form{

    font-size: 1.3rem;
    padding: .5rem;
    display: block;
    justify-content: center;
    width: 100%;
    

}

.wait-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wait-queue{
    list-style: none;

}

.customer{
    display: flex;
    margin: .5rem;
    font-size: large;
    
}


.send-btn,
.remove-btn,
.submit-btn {
    padding: .8rem;
    margin: 1rem;
}


